<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AK" value="9ylMDpP1TSRD9Al2jAnaV099Q6Y-WuZmgR3HbD_s" />
    <add key="SK" value="HGgEnOGOpc_7SMTVZlcv56EOlECYMOzoPX6jR_it" />
    <add key="Bucket" value="testarea" />
    <add key="Bucket2" value="yjcaizw" />
    <add key="Domain" value="http://images.samecity.com.cn/" />
    <add key="PipeLine" value="testTopic" />
    
    <add key="Shop" value="Server=192.168.31.86;Database=shop;Uid=root;Pwd=Rzs6SrZjDyc1PGcd;" />
    <add key="WeChatSpider" value="Server=192.168.31.86;Database=wechatspider;Uid=root;Pwd=Rzs6SrZjDyc1PGcd;" />
  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>